---

const cme = [
  {
    title: "ECG Interpretation",
    credits: "2",
    link: "https://www.freecodecamp.org/"
  },
  {
    title: "Workplace Violence",
    credits: "10",
    link: ""
  },
  {
    title: "ECG Interpretation",
    credits: "2",
    link: "https://www.freecodecamp.org/"
  },
  {
    title: "Workplace Violence",
    credits: "10",
    link: ""
  },
  {
    title: "Workplace Violence",
    credits: "10",
    link: ""
  },
  {
    title: "Workplace Violence",
    credits: "10",
    link: ""
  },
];

const manda = [
  {
    title: "Something",
    description: "LP15 training",
    link: ""
  },
  {
    title: "Something else",
    description: "Something",
    link: ""
  },
  {
    title: "Something else",
    description: "Something",
    link: ""
  },
  {
    title: "Something else",
    description: "Something",
    link: ""
  },
  {
    title: "Something else",
    description: "Something",
    link: ""
  },
  {
    title: "Something else",
    description: "Something",
    link: ""
  },
];

---

<div class="text-center mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Further your education
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    <span class="font-bold text-blue1">Bumper</span><span class="text-red1">talk</span> allows you to take what you learn Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum! Labore aliquam provident officiis tenetur rerum deserunt in, similique, ipsa sint quisquam dolore harum natus nesciunt, iusto eos maiores voluptates!
  </p>
</div>

  <div class="lg:grid lg:grid-cols-2 gap-2 m-8">
    <div>
    <div class='mb-4 lg:mb-0 border-4 border-blue-400 rounded-lg'>
    <h3 class="font-extrabold text-center p-2">CME Credits</h3>
    {
      cme.map((item) => (
        <div class="p-2 items-start">
          <div>
            <a href={item.link} target = '_blank'>
            <h3 class="font-normal text-md inline">{item.title}</h3></a>
            <p class="text-slate-500 mt-2 leading-relaxed">{item.credits + ' credits'}</p>
          </div>
        </div>
      ))
    }
    </div>
  </div>
  
    <div class='border-4 border-blue-400 rounded-lg'>
    <h3 class="font-extrabold p-2 text-center" id="manda">Mandatory Courses</h3>
      {
        manda.map((item) => (
          <div class="p-2 items-start">
            <div>
              <a href="{item.link} target = '_blank'">
              <h3 class="font-normal text-md inline">{item.title}</h3></a>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
        ))
      }
      </div>
  </div>

<style>
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white text-center;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
</style>

<script is:inline>


</script>
